.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
    background-color: #516d48;
    height: 80px;
    /* position: fixed ;
    width: 100%; */

  }
  
  .navbar h1 {
    color: white;
  }
  
  .login-button {
    /* padding: 10px 20px; */
    margin-right: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #b88a58;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid white;
  }
  
  .login-button:hover {
    background-color: #d4b28d;
  }

  /* .appTitle {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: none; /* Remove default underline */
    /* margin: 15px;
  } */ */

  
  .user-greeting {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
  .logoLink {
    margin-right: auto;
  }

.logoImage {
  width: 200px;
  height: auto;
  cursor: pointer;
}