
.App {
  text-align: center;
  background-color: #e8ddc4; 
  min-height: 100vh; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  /* max-height: 300px; */
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 768px){
  .hero-image {
    content: url('../../Assets/Travel_App_Picture_Big_Screen.jpg')
  }
}